body {
    padding: 0px;
    margin: 0px;
}



.bgImage {
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgImage img{
    width: 100%;
}

.food_name {
    margin: 0px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    font-family: 'Nunito Sans';
    font-weight: 500;
}

.calories {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 0px;
    margin-left: 5px;
}

.discription {
    margin-top: 5px;
    font-size: 14px;
}

.bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.counter {
    margin: 0px;
    font-size: 25px;
    font-family: 'Nunito Sans';
    margin-left: 10px;
    margin-right: 10px;
}